h2
  =show_candidate(@candidate)
h2 Вакансии полностью соответсвующие навыками
=render partial: 'vacancies/vacancy_table', locals: {vacancies: @vacancies}

h2 Вакансии частично соотвествующие навыки
=render partial: 'vacancies/vacancy_table', locals: {vacancies: @vacancies_fuzzy}